.detalle-img-item {
  width: 300px; }

.detalle-text {
  font-size: getFontSize("md");
  font-weight: getFontWeight("regular"); }
  .detalle-text-title {
    font-size: getFontSize("lg");
    font-weight: getFontWeight("bold"); }
  .detalle-text-precio {
    font-size: getFontSize("lg");
    font-weight: getFontWeight("bold");
    color: getColor("tertiary"); }
  .detalle-text-input-label {
    font-size: getFontSize("xs");
    font-weight: getFontWeight("regular"); }
  .detalle-text-input-item {
    height: 40px;
    border: 1px solid getColor("quaternary");
    border-radius: 5px;
    padding: 0 10px;
    font-size: getFontSize("xs");
    font-weight: getFontWeight("regular");
    color: getColor("secondary");
    margin-bottom: 10px;
    margin-top: 10px; }
  .detalle-text-button-item {
    margin-top: 10px;
    margin-bottom: 10px; }
    .detalle-text-button-item:active {
      background-color: green; }
