/// Header
.header{
    @include response('md'){
        display: inline-block;
        margin-left: 30%;
    }
    background-color: getColor('primary');
    padding: 20px 0;
    @include flex(row, space-between, center);

    &-logo{
        img{
            width: 180px;
        }
    }

    &-search{
        @include response('md'){
            display: none;
        }
        &-input{
            border: none;
            border-bottom: 1px solid getColor('secondary');
            background-color: getColor('primary');
            color: getColor('secondary');
            font-size: getFontSize('md');
            padding: 5px 0;
            &:focus{
                outline: none;
            }
        }
        &-button{
            @include buttons();
        }
    }

    &-sesion{
        @include response('md'){
            margin-top: 20%;
            margin-left: 20%;
        }
        i{
            color: getColor('secondary');
            scale: 1.3;
            margin: 0 20px;
        }
        &-login, &-carrito{
            i{
                color: getColor('secondary');
                text-decoration: none;
                font-size: getFontSize('md');
                &:hover{
                    color: getColor('tertiary');
                }
            }
        }
    }

}
