// Componente: Aside

.aside{
    border: 2.5px solid getColor('tertiary');
    @include response('md'){
        display: none;
    }
   &-title{
    font-family: $font-family-title;
      font-size: getFontSize('md');
      font-weight: getFontWeight('bold');
      text-align: center;
   }

    &-list{
        font-size: getFontSize('xxs');
        color: getColor('gray');
    }
    
}