.detalle{
    &-img{
        &-item{
            width:300px;
        }
    }

    &-text{
        font-size: getFontSize('md');
        font-weight: getFontWeight('regular');
        &-title{
            font-size: getFontSize('lg');
            font-weight: getFontWeight('bold');
        }

        &-precio{
            font-size: getFontSize('lg');
            font-weight: getFontWeight('bold');
            color: getColor('tertiary');
        }

        &-input{
            &-label{
                font-size: getFontSize('xs');
                font-weight: getFontWeight('regular');
            }

            &-item{
                height: 40px;
                border: 1px solid getColor('quaternary');
                border-radius: 5px;
                padding: 0 10px;
                font-size: getFontSize('xs');
                font-weight: getFontWeight('regular');
                color: getColor('secondary');
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }

        &-button{
            &-item{
                @include buttons('sm', 'quintenary');
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}